<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>jobs</title>
    <link rel="stylesheet" href="lib/layui/css/layui.css" th:href="@{/lib/layui/css/layui.css}"/>
</head>
<style>
    .box-content {
        margin: 0 auto;
        height: 500px;
        width: 80%;
    }
</style>
<body>
<div class="box-content">
    <div class="layui-btn-group opt">
        <button class="layui-btn" data-type="addJob">新增</button>
        <button class="layui-btn" data-type="delJobs">删除</button>
    </div>
    <table class="layui-table" id="jobs" lay-filter="jobs"></table>
</div>
</body>
<script id="barDemo" type="text/html">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="lib/layui/layui.js" th:src="@{/lib/layui/layui.js}"></script>
<script>
    layui.use(["table", "laydate", "jquery"], function () {
        var table = layui.table;
        var layer = layui.layer;
        var columns = [
            {type: 'checkbox', title: '序号', width: 40},
            {field: 'jobClassName', title: '执行类路径', width: '25%'},
            {field: 'jobName', title: 'job名称', width: 180},
            {field: 'jobGroup', title: 'job组', width: 180},
            {field: 'description', title: '描述', width: 180},
            {fixed: 'right', align: 'center', title: '操作', toolbar: '#barDemo'}
        ];
        var loading = layer.load(1);
        table.render({
            elem: "#jobs",
            url: '/frame/job/all',
            page: true,
            cols: [columns],
            toolbar: true,
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.msg,
                    "count": res.total,
                    "data": res.data
                };
            },
            response: {
                statusCode: 200
            },
            done: function (data) {
                layer.close(loading);
            }
        });

        table.on('tool(jobs)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;
            if (layEvent === 'detail') {

            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (layEvent === 'edit') {
                obj.update({
                    username: '123'
                    , title: 'xxx'
                });
            } else if (layEvent === 'LAYTABLE_TIPS') {
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        });

        var $ = layui.$, active = {
            addJob: function () {
                layer.open({
                    type: 2,
                    content: ['/job/job_add', 'no'],
                    title: '添加job详情',
                    area: ['600px', '500px'],
                    end: function () {
                        searchData();
                    }
                });
            }
            , delJobs: function () {
                var checkStatus = table.checkStatus('jobs');
                if (checkStatus.data.length === 0) {
                    layer.msg("请选择要删除的记录！");
                } else {
                    var params = [];
                    for (var i = 0; i < checkStatus.data.length; i++) {
                        params.push(checkStatus.data[i].id);
                    }
                    var arr = {params: params};
                    layer.confirm('确定要删除吗?', {icon: 3, title: '提示'}, function (index) {
                        $.ajax({
                            type: 'delete',
                            url: '/frame/job/delete',
                            data: arr,
                            traditional: true,
                            contentType: 'application/x-www-form-urlencoded',
                            dataType: 'json',
                            success: function (res) {
                                if (res.code === "200") {
                                    layer.msg("删除成功！");
                                    layer.close(index);
                                    searchData();
                                } else {
                                    layer.close(index);
                                    layer.msg(res.msg);
                                }
                            }
                        })
                    }, function (index) {
                        layer.close(index);
                    });
                }
            }
        };

        $('.opt .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        function searchData() {
            table.reload("jobs", {
                url: '/frame/job/all'
            });
        }
    })
</script>
</html>